= link_to 'My profile', profile_path, class: 'btn btn-primary btn-sm'
= link_to "My account", edit_user_registration_path, class: 'btn btn-primary btn-sm'
= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm'